div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.field {
	overflow: hidden;
	margin: 10px;
	border: solid blue 2px;
	width: 364px;
	border-radius: 10px;
}

.cell.x:after {
	content: '✕';
	color: green;
	font-size: 80px;
	position: absolute;
	width: 116px;
	height: 116px;
	line-height: 116px;
	text-align: center;
}

.cell.o:after {
	font-weight: bold;
	color: red;
	content: '◯';
	font-size: 80px;
	position: absolute;
	width: 116px;
	height: 116px;
	line-height: 116px;
	text-align: center;
}

.row {
	height: 120px;
}

.cell {
	display: inline-block;
	border: solid gray 2px;
	width: 120px;
	height: 120px;
}

.winner-message {
	position: absolute;
	left: 180px;
	top: 8px;
	font-size: 20px;
	font-weight: bold;
	cursor:default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}